[Unit]
Description=TouNe-o-matic Touchscreen Kiosk
After=toune-api.service
Wants=toune-api.service

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi
Environment=HOME=/home/pi
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/toune-kiosk
Environment=TOUNE_KIOSK_URL=http://127.0.0.1:11000
EnvironmentFile=-/etc/default/toune-kiosk
RuntimeDirectory=toune-kiosk
RuntimeDirectoryMode=0700
ExecStart=/usr/bin/xinit /usr/local/bin/toune-kiosk-session.sh -- :0 -s 0 -dpms vt7 -keeptty
Restart=always
RestartSec=3
TTYPath=/dev/tty7
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
StandardInput=tty-force
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
