[Unit]
Description=Toune-o-matic Library Links Sync Timer

[Timer]
OnBootSec=2min
OnUnitActiveSec=1h
AccuracySec=1min

[Install]
WantedBy=timers.target
